.main {
    background: repeating-linear-gradient(
  45deg,
  lightyellow,
  white 10px,
  beige 10px,
  #FFE4C4 20px
);
}


.paragraphe, .description {
    padding: 10px;
    color: white;
    background-color: lightblue;
    font-family: DM Sans;
    font-weight: bold;
    border: 5px;
    border-style: solid;
    border-color: grey;
    font-size: 18px;
}

.titre {
    font-family: 'Indie Flower', cursive;
    font-weight: bold;
    font-size: 72px;
    margin-left: 500px;
    color: black;
    text-decoration: underline;
      
}

.paragraphe {  
    margin-left: 450px;
    margin-top: -300px;
    margin-right: 50px; 
  
}

.image {
   width: 24vw;
    
   margin-top: 3vw;
   margin-left: 50px;
   

}
.image2 {
   width: 50vw;
   
   margin-top: 10vw;
   margin-left: 600px; 

}

.description {
    width: 24vw;
    margin-top: -350px;
    margin-left: 100px;  
}
