/* Pour toutes les pages html */
.main {
    background-color: #2E3532;
    padding: 3vw;
    opacity: 0.96;
}

.ligne {
    color: #8B2635;
    font-size: 7vw;
    text-align: center;
    margin-top: -5vw;
}

img {
    background-color: #E0E2DB;
    border: 3px;
    border-style: solid;
    border-color: #575f5b;
    margin-top: 40px;
    padding: 2%;
    width: 500px;
}

/* Les bouttons */
.navigation-groupe {
    margin-top: 40px;
    text-align: center;
    font-family: DM Sans;
}

.navigation-bouton {
    background-color: black;
    padding: 10px;
    color: #ffffff;
}

.navigation-boutton:hover {
    background-color: #3C887E;
}

a:hover {
    text-decoration: none;
    transition: cubic-bezier(.07,.5,.3,1) 0.8s;
}

a {
    text-decoration: none;
    color: #ffffff;
    display:inline-block;
    padding: 10px;
    background-color: #575f5b;
}

/* index.html */
.accueil {
    text-align: center;
}

.nom2 {
    font-size: 2vw;
    font-family: DM Sans;
    color: #b88e94;
    margin-top: 1vw;
}

/* maquette.html */
.pages {
    text-align: center;
    margin-right: 6vw;
}

/* survoldestechniques.html */
.liens {
    text-align: center;
    margin-top: 40px;
}

/* maquette.html et survoldestechniques.html */
.titre1, .titre2, .nom1 {
    font-family: 'Bellota Text', cursive;
    font-weight: bold;
    font-size: 72px;
    text-align: center;
    color: #A7C4C2;
}

.paragraphe {
    padding: 3vw;
    color: black;
    background-color: #E0E2DB;
    font-family: DM Sans;
    font-weight: bold;
    border: 3px;
    border-style: solid;
    border-color: #575f5b;
    font-size: 20px;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 50px;
    text-align: justify;
    line-height: 2;
}