/* Pour toutes les pages html */
.main {
    background-color: #6d738b;
    padding: 3vw;
    opacity: 0.97;
}

.navigation-groupe {
    margin-top: 40px;
    text-align: center;
    font-family: DM Sans;
}

.navigation-bouton {
    background-color: black;
    padding: 10px;
    color: #ffffff;
    
}

.navigation-boutton:hover {
    background-color: #cf8270;
}

a:hover {
    text-decoration: none;
    transition: cubic-bezier(.07,.5,.3,1) 0.8s;
}

a {
    text-decoration: none;
    color: #ffffff;
    display:inline-block;
    padding: 10px;
    background-color: #52576d;
}

/* index.html */
.accueil {
    text-align: center;
}

.nom2 {
    font-size: 2vw;
    margin-bottom: 40px;
    font-family: DM Sans;
    color: #ffffff;
}

img {
    /*margin-top: 40px;
    margin-bottom: -50px;*/
    margin-bottom: 40px;
}

/* maquette.html et survoldestechniques.html */
.titre1, .titre2, .nom1 {
    font-family: 'Bellota Text', cursive;
    font-weight: bold;
    font-size: 72px;
    /*margin-left: 400px;*/
    text-align: center;
    color: #ffffff;
    text-decoration: underline;
      
}

/*.titre2 {
    margin-left: 550px;
}*/

.paragraphe {
    padding: 3vw;
    color: black;
    background-color: #e1e6cd;
    font-family: DM Sans;
    font-weight: bold;
    border: 3px;
    border-style: solid;
    border-color: #41415e;
    font-size: 22px;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 50px;
    text-align: justify;
    line-height: 2;
}