.main {
    background-color: #f4c494;
   
}



.paragraphe {
   padding: 10px;
    color: black;
    background-color: #c7ccb2;
    font-family: DM Sans;
    font-weight: bold;
    border: 3px;
    border-style: solid;
    border-color: #8b7268;
    font-size: 18px;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 50px;

}


.titre1, .titre2 {
    font-family: 'Bellota Text', cursive;
    font-weight: bold;
    font-size: 72px;
    margin-left: 400px;
    color: black;
    text-decoration: underline;
      
}
.titre2 {
   
margin-left: 550px;

}

.navigation-bouton {
    font-family: DM Sans;
    background-color: black;
    padding: 10px;
    color: #ffffff;
}
.navigation-groupe {
    margin-top: 40px;
}

.navigation-boutton:hover {
    background-color: #cf8270;
}

.navigation-boutton {
    transition: cubic-bezier(.07,.5,.3,1) 0.6s;